 # Opis notatnika
 W tym notatniku tworzę bazę danych wraz ze strukturą tabel. Tabele będę uzupełniać danymi w kolejnej części (**03_Populacja_bazy_danych**).
 
 > Plik wraz ze strukturą bazy znajduje się w folderze `sql/database_schema.sql`. 

 > W tej części konieczne jest posiadanie zainstalowanego `Postgres` na swoim komputrze.

 Import wymaganych bibliotek

In [21]:
import psycopg2

 ## Połączenie z bazą danych
 Konfiguracja połączenia

In [22]:
username = 'postgres'
password = '****'

host = 'localhost'
database = 'postgres' # defaultowa baza danych
port= '5432'

Definiuję zmienne `con` oraz `cursor`

In [23]:
con = psycopg2.connect(
    host=host,
    user=username,
    password=password,
    dbname=database,
    port=port)

cursor = con.cursor()

In [24]:
con.autocommit = True

In [25]:
if not con.closed:
    print("Połączenie jest otwarte.")
else:
    print("Połączenie jest zamknięte.")

Połączenie jest otwarte.

 Tworzę bazę danych `airlines`.

In [26]:
db_creation = "CREATE database airlines"
cursor.execute(db_creation)

In [27]:
cursor.close()
con.close()

In [28]:
if not con.closed:
    print("Połączenie jest otwarte.")
else:
    print("Połączenie jest zamknięte.")

Połączenie jest zamknięte.

Raz jeszcze konfiruracja połączenia, tym razem z bazą danych `airlines`, zdefiniowanie zmiennych `con` oraz `cursor`.

In [29]:
username = 'postgres'
password = '****'

host = 'localhost'
database = 'airlines'
port= '5432'

con = psycopg2.connect(
    host=host,
    user=username,
    password=password,
    dbname=database,
    port=port)

cursor = con.cursor()

con.autocommit = True

In [30]:
if not con.closed:
    print("Połączenie jest otwarte.")
else:
    print("Połączenie jest zamknięte.")

Połączenie jest otwarte.

 ## Wczytanie pliku `database_schema.sql`
 Z katalogu `sql` wczytuję plik `database_schema.sql`

 Rozdzielam zawartość pliku `database_schema.sql` na mniejsze kwerendy używając `;`

In [31]:
commands = []

with open(r"..\sql\database_schema.sql", 'r', encoding='UTF-8') as file:
    sql_text = file.read()
    sql_commands = sql_text.split(';')
    print(len(sql_commands))                            
    for command in sql_commands:
        commands.append(command.strip() + ';')

for index, command in enumerate(commands, start=1):
    print(f"Command {index}:")
    print(command)
    print("--------------------")

12
Command 1:
DROP TABLE IF EXISTS public.aircraft CASCADE;
--------------------
Command 2:
CREATE TABLE IF NOT EXISTS public.aircraft
(
    id serial,
    manufacture_year bigint,
    tail_num text,
    number_of_seats double precision
);
--------------------
Command 3:
CREATE OR REPLACE VIEW public.v_aircraft_blocker AS
SELECT 1 FROM public.aircraft LIMIT 1;
--------------------
Command 4:
DROP TABLE IF EXISTS public.airport_weather CASCADE;
--------------------
Command 5:
CREATE TABLE IF NOT EXISTS public.airport_weather
(
    id serial,
    station text,
    name text,
    date text,
    awnd double precision,
    pgtm double precision,
    prcp double precision,
    snow double precision,
    snwd double precision,
    tavg double precision,
    tmax double precision,
    tmin double precision,
    wdf2 double precision,
    wdf5 double precision,
    wsf2 double precision,
    wsf5 double precision,
    wt01 double precision,
    wt02 double precision,
    wt03 double precision,
    wt04 double precision,
    wt05 double precision,
    wt06 double precision,
    wt07 double precision,
    wt08 double precision,
    wt09 double precision,
    wesd double precision,
    wt10 double precision,
    psun double precision,
    tsun double precision,
    sn32 double precision,
    sx32 double precision,
    tobs double precision,
    wt11 double precision,
    wt18 double precision
);
--------------------
Command 6:
/* BLOCKER TO FORCE USAGE if_exists in PANDAS REMOVE IF OBSTACLE*/
CREATE OR REPLACE VIEW public.v_aircraft_weather_blocker AS
SELECT 1 FROM public.airport_weather LIMIT 1;
--------------------
Command 7:
DROP TABLE IF EXISTS public.flight CASCADE;
--------------------
Command 8:
CREATE TABLE IF NOT EXISTS public.flight
(
    id serial,
    month bigint,
    day_of_month bigint,
    day_of_week bigint,
    op_unique_carrier text,
    tail_num text,
    op_carrier_fl_num bigint,
    origin_airport_id bigint,
    dest_airport_id bigint,
    crs_dep_time bigint,
    dep_time double precision,
    dep_delay_new double precision,
    dep_time_blk text,
    crs_arr_time bigint,
    arr_time double precision,
    arr_delay_new double precision,
    arr_time_blk text,
    cancelled double precision,
    crs_elapsed_time double precision,
    actual_elapsed_time double precision,
    distance double precision,
    distance_group bigint,
    carrier_delay double precision,
    weather_delay double precision,
    nas_delay double precision,
    security_delay double precision,
    late_aircraft_delay double precision,
    year bigint
);
--------------------
Command 9:
/* BLOCKER TO FORCE USAGE if_exists in PANDAS REMOVE IF OBSTACLE*/
CREATE OR REPLACE VIEW public.v_flight_blocker AS
SELECT 1 FROM public.flight LIMIT 1;
--------------------
Command 10:
DROP TABLE IF EXISTS public.airport_list CASCADE;
--------------------
Command 11:
CREATE TABLE IF NOT EXISTS public.airport_list
(
    id serial,
    origin_airport_id bigint,
    display_airport_name text ,
    origin_city_name text ,
    name text
);
--------------------
Command 12:
CREATE OR REPLACE VIEW public.v_airport_list_blocker AS
SELECT 1 FROM public.airport_list LIMIT 1;
--------------------

 W pętli wykonuję każdą z kwerend, aby zainicjować strukturę bazy danych

In [32]:
for i, command in enumerate(commands, 1):
    cursor.execute(command)
    print(f"Kwerenda {i} została przeprocesowana")

Kwerenda 1 została przeprocesowana
Kwerenda 2 została przeprocesowana
Kwerenda 3 została przeprocesowana
Kwerenda 4 została przeprocesowana
Kwerenda 5 została przeprocesowana
Kwerenda 6 została przeprocesowana
Kwerenda 7 została przeprocesowana
Kwerenda 8 została przeprocesowana
Kwerenda 9 została przeprocesowana
Kwerenda 10 została przeprocesowana
Kwerenda 11 została przeprocesowana
Kwerenda 12 została przeprocesowana

 ## Sprawdzenie
 Kod poniżej sprawdza, czy ta część została poprawnie wykonana

In [34]:
def check_if_table_exists(table_name):
    msg = f"Sprawdzam czy istnieje tabela {table_name}"
    print(msg)

    query = f"select 1 from {table_name}"
    # jeżeli tabela nie istnieje, ten krok zwróci wyjątek
    cursor.execute(query)
    print('OK!')

In [35]:
tables_to_test = [
    'aircraft',
    'airport_weather',
    'flight',
    'airport_list'
]

In [36]:
for table in tables_to_test:
    check_if_table_exists(table)

Sprawdzam czy istnieje tabela aircraft
OK!
Sprawdzam czy istnieje tabela airport_weather
OK!
Sprawdzam czy istnieje tabela flight
OK!
Sprawdzam czy istnieje tabela airport_list
OK!

In [ ]:
con.close()

 # Podsumowanie
 Za pomocą tego notatnika docelowa baza danych została zbudowana w sposób automatyczny.
 W kolejnym notatniku załaduję dane do poszczególnych tabel.